.about-title {
    color: #08fdd8;
}

.about-container {
    background-color: #212529;
}
.about-content {
    color: white;
    font-size: 18px;
}

/* @media only screen and (max-width: 500px) {
    .about-container {
        margin-top: 10rem;
    }
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.tagcloud {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: auto;
    width: 50%;
}

.tagcloud--item {
    color: #08fdd8;
    font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.tagcloud--item:hover {
    color: red;
}

.tagcloud:nth-child(1) {
    display: none;
}
