.about-title {
    color: #08fdd8;
}

.about-container {
    background-color: #212529;
}
.about-content {
    color: white;
    font-size: 18px;
}

.about-eye-img {
    height: 460px;
}

.content {
    position: relative;
}

.content h1 {
    color: #08fdd8;
    position: absolute;
    transform: translate(0%, -50%);
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #08fdd8;
}

.content h1:nth-child(2) {
    color: #08fdd8;
    animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.tagcloud {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: auto;
    width: 50%;
}

.tagcloud--item {
    color: #08fdd8;
    font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.tagcloud--item:hover {
    color: red;
}

.tagcloud:nth-child(1) {
    display: none;
}
