.project-text {
    color: white;
    font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.card-shadow {
    box-shadow: 0 0.5rem 0.3rem white !important;
}

.details-btn {
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.project-img {
    height: 210px;
}

.ani-text {
    color: white;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
}
.ani-text span {
    transition: 0.5s linear;
}
.ani-text:hover span:nth-child(1) {
    margin-right: 5px;
}
.ani-text:hover span:nth-child(1):after {
    content: "'";
}
.ani-text:hover span:nth-child(2) {
    margin-left: 10px;
}
.ani-text:hover span {
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

/* more btn css */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* span {
    transform: skewX(15deg);
} */

span:nth-child(2) {
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #fbc638;
    }
    100% {
        fill: white;
    }
}
