.nav-item:hover {
    border-bottom: 3px solid #ffc4ff;
}

.nav-social-icons {
    padding: 0 1.3rem;
}

.project-list {
    display: none;
}

.project-nav:hover .project-list {
    display: flex;
    z-index: 10;
}
